.navbar {
    margin-bottom: 0;
}

/* Fonts
-------------------------------------------------- */

.tengwar-regular {
    font-family: 'TengwarAnnatarRegular';
}
.tengwar-bold {
    font-family: 'TengwarAnnatarBold';
}
.tengwar-italic {
    font-family: 'TengwarAnnatarItalic';
}
.tengwar-bold-italic {
    font-family: 'TengwarAnnatarBoldItalic';
}

/* Sizes
-------------------------------------------------- */

.tengwar-large {
    font-size: 2em;
}

.tengwar-medium {
    font-size: 1.5em;
}

.normal-size,
.normal-size p {
    font-size: 14px;
}