@font-face {
    font-family: 'TengwarAnnatarRegular';
    src: url(../fonts/tngan-webfont.eot);
    src: url(../fonts/tngan-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/tngan-webfont.woff) format('woff'),
         url(../fonts/tngan-webfont.ttf) format('truetype'),
         url(../fonts/tngan-webfont.svg#tengwar_annatarregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TengwarAnnatarBold';
    src: url(../fonts/tnganb-webfont.eot);
    src: url(../fonts/tnganb-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/tnganb-webfont.woff) format('woff'),
         url(../fonts/tnganb-webfont.ttf) format('truetype'),
         url(../fonts/tnganb-webfont.svg#tengwar_annatarbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TengwarAnnatarItalic';
    src: url(../fonts/tngani-webfont.eot);
    src: url(../fonts/tngani-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/tngani-webfont.woff) format('woff'),
         url(../fonts/tngani-webfont.ttf) format('truetype'),
         url(../fonts/tngani-webfont.svg#tengwar_annataritalic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TengwarAnnatarBoldItalic';
    src: url(../fonts/tnganbi-webfont.eot);
    src: url(../fonts/tnganbi-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/tnganbi-webfont.woff) format('woff'),
         url(../fonts/tnganbi-webfont.ttf) format('truetype'),
         url(../fonts/tnganbi-webfont.svg#tengwar_annatarbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}