* {
    
}
body {
    background: url('parchment.jpg');
    font-size: 20pt;
    font-family: Helvetica, Verdana, Arial;
}
.reg {
    font-family: 'TengwarAnnatarRegular';
}
.bol {
    font-family: 'TengwarAnnatarBold';
}
.ita {
    font-family: 'TengwarAnnatarItalic';
}
.ibl {
    font-family: 'TengwarAnnatarBoldItalic';
}
.medium {
    font-size: 24pt;
}
.normal {
    font-size: 18pt;
}
.smaller {
    font-size: 16pt;
}
.centre {
    text-align: center;
}

table, tr, td {
    font-size: 12pt;
}

thead > tr > th {
    font-size: 14pt;
    height: 30px;
}

tbody > tr > th {
    font-size: 12pt;
    height: 30px;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}